*, *:before, *:after {
    box-sizing: border-box;
  }

body{
    background-color: rgb(255, 234, 196);
}

#inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
#inputs>label{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#inputs input, #inputs h2{
    margin: 5px 0;
}

.inputBox{
    width: 200px;
}

.books{
    margin-top: 30px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    /* border: solid 1px blue; */
}

#reactTest{
    height: 500px;
    border: solid 1px red;
}

.aBook{
    color: white;
    font-size: 14px;
    font-weight: bold;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    background-color: rgba(0, 0, 0, 0.507);
    height: 180px;
    width: 150px;
}

.aBookWrapper{
    background-size:cover;
    border: solid;
    width: 178px;
    height: 256px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 5px;
}

.aBookWrapper:hover{
    width: 188px;
    height: 266px;
}

.aBook p{
    margin: 5px 0px;
    text-align: center;
}

.delBtn{
    height: 20px;
    background-color: rgb(197, 19, 19);
    border-color: rgb(128, 13, 13);
    font-weight: bold;
    color: white;
}

h2{
    padding-bottom:10px;
    font-weight: bold;
}